.main-title {
  color: purple;
}

.post {
  text-align: center;
  width: 50%;
  padding: 15px;
  /* centravimas  */
  margin-left: auto;
  margin-right: auto;
}

h2 {
  background-color: #add8e6;
}

/* PIRMAS VARIANTAS
button,
a {
  display: inline-block;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid purple;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  text-align: center;
}

.btn-outline,
.link-outline {
  display: inline-block;
  background-color: transparent;
  color: purple;
  border: 2px solid purple;
  margin-bottom: 5px;
  text-align: center;
}
*/

/* ANTRAS VARIANTAS */

/* button, 
a.references {
  display: inline-block;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid purple;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

button.btn-outline,
a.link-outline {
  display: inline-block;
  background-color: transparent;
  color: purple;
  border: 2px solid purple;
  margin-bottom: 5px;
  text-align: center;
}
*/

/* TREČIAS VARIANTAS */
.references {
  display: inline-block;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid purple;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.references:hover {
  background-color: transparent;
  color: purple;
}

.outline {
  display: inline-block;
  background-color: transparent;
  color: purple;
  border: 2px solid purple;
  margin-bottom: 5px;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.outline:hover {
  background-color: purple;
  color: white;
}

/* 
PASTABOS:
Elementams aukštis nėra taikomas, nebent tai būtų nuotrauka. Visais kitais atvejais, elemento aukštis tiek, kiek užima turinys;

Pločiui galima nurodyti du ar net tris parametrus: width: Xpx; ir max/min-width: Xpx; vienu metu. Tai reiškia, kad ekrano plotas yra fiksuotas Xpx (width), bet negali būtii didesnis/mažesnis nei X pikselių (max/min-width);

Kai skirtingų elementų stilius yra analogiškas, galima nurodyti kelis elementus, atskiriant juos ",";

Kai užhoverintam elementui, atsiranda rėmelis, kurio ankščiau (ne)buvo, vertėtų dar prieš hoverinimą jį užsidėti, kad elementai vėliau nesistumdytų ir nekeistų puslapio išdėstymo.

REFAKTORINIMAS: Kuo glaustesnė kodo santrauka nepakeičiant jo esmės. 

HOVER EFEKTAS: Efektas/kitoks stilius užvedus pelės žymeklį ant tam tikro elemento.

Sintaksė:
.klasė:hover{
sąvybė: reikšmė;
}

TRANSITION - sąvybė, kuri nurodo per kiek laiko elementas iš vienos stadijos pereina į kitą;

Sintaksė:
transition-property: margin-right;         ->          elementas pasislenka iš dešinės į kairę per tam tikrą laiką;
transition-property: margin-right, color;  ->          elementas pasislenka iš dešinės į kairę ir beslinkdamas pakeičia teksto spaslvą;
transition-property: all;                  ->          elementas padaro abu veiksmus iš karto; 
transition-property: none;                 ->          elementas be jokio perėjimo iš vienos stadijos tampa kitos;

Transition-duration: Xms/s;                ->          nurodo per kiek milisekundžių/sekundžių įvyksta tranzicija;

Galima nurodyti abi savybes: tiek transition-property, tiek transition-duration nurodant savybes per ",", pvz.:
transition: margin-left, 4s //property-name, duration

Kai norime nurodyti tranziciją į abi puses, tai yra užvedus pelės žymeklį ir atitraukus pelės žymeklį keitųsi hoveris tam tikrą laiką, tai transition-property ir transition duration nurodomas ant mygtuko/nuorodos, bet ne ant jo hoverio. Hover dalyje tik keiciamos savybes;




*/
