form {
  margin-bottom: 20px;
}
.form-control {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.range-wrap {
  margin-top: 20px;
}

fieldset {
  width: 400px;
}

.select-form-control {
  margin-top: 10px;
}

#alert-message {
  color: green;
  font-size: 30px;
  font-weight: 600;
}
