.hero {
  background-color: black;
  background-image: url(../../img/hero/decoration-arrows.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  height: 100vh;
  position: absolute;
}

.hero-section {
  display: flex;
  position: relative;
  color: white;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 100px;
  margin-left: 10%;
  line-height: 70px;
  margin-top: 150px;
  width: 50%;
}

.hero-section p {
  font-size: 17px;
  margin-left: 10%;
  margin-top: 50px;
  line-height: 30px;
  width: 30%;
}

.info {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 10%;
}

.info .col {
  width: 50%;
  margin-left: 13%;
  color: #fff;
}

.info .col:first-child {
  border-right: 2px solid white;
}
.info > .col > h2 {
  margin-bottom: 20px;
}
.hero-section .info .col > p {
  margin-bottom: 20px;
  width: 60%;
  margin-left: -10px;
}
.hero-section .info .vertical-line {
  border-left: 2px solid black;
  height: 150px;
  background-color: #fff;
}

.hero-section .info .col > a {
  color: #fff;
  text-decoration: none;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}
