/* BASIC STYLE */
.container {
  background-color: rgb(233, 233, 233);
  width: 600px;
  height: 600px;
  margin-bottom: 50px;
}

.green {
  background-color: rgb(25, 216, 25);
}
.blue {
  background-color: rgb(22, 160, 240);
}
.pink {
  background-color: rgb(246, 130, 150);
}
.grey {
  background-color: rgb(117, 115, 115);
}
.red {
  background-color: rgb(190, 14, 14);
}
.yellow {
  background-color: rgb(253, 253, 41);
}

.container-1 .child,
.container-2 .child,
.container-3 .child {
  width: 200px;
  height: 200px;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
}

/* PIRMAS KONTEINERIS */
/* -------------------------------------- */
.container-1 .child:nth-child(1),
.container-1 .child:nth-child(5) {
  width: 200px;
}

.container-1 .child:nth-child(2),
.container-1 .child:nth-child(3),
.container-1 .child:nth-child(6) {
  width: 400px;
}

/* ANTRAS KONTEINERIS */
/* -------------------------------------- */
.container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-2 .child:nth-child(1),
.container-2 .child:nth-child(4),
.container-2 .child:nth-child(5) {
  width: 200px;
}

.container-2 .child:nth-child(2),
.container-2 .child:nth-child(3),
.container-2 .child:nth-child(6) {
  height: 400px;
}

/* TRECIAS KONTEINERIS */
/* -------------------------------------- */
.container-3 {
  display: flex;
  flex-wrap: wrap;
}

.container-3 .child:nth-child(1) {
  width: 400px;
  height: 400px;
}

.container-3 .inner-container .inner-child {
  width: 200px;
  height: 200px;
}

/* KETVIRTAS KONTEINERIS */
/* -------------------------------------- */
.container-4 .top-line,
.container-4 .bottom-line {
  display: flex;
  flex-flow: row;
  width: 600px;
  height: 150px;
  background-color: green;
}

.container-4 .center-line {
  display: flex;
  flex-flow: row;
  width: 600px;
  height: 300px;
  background-color: green;
}

.container-4 .top-line .first,
.container-4 .bottom-line .first {
  width: 240px;
  height: 150px;
  background-color: yellow;
}

.container-4 .top-line .second,
.container-4 .bottom-line .second {
  width: 120px;
  height: 150px;
  background-color: blue;
}

.container-4 .top-line .third,
.container-4 .bottom-line .third {
  width: 240px;
  height: 150px;
  background-color: yellow;
}

.container-4 .center-line > .first {
  flex-direction: column;
  background-color: aquamarine;
  height: 300px;
  width: 150px;
  display: flex;
}

.container-4 .center-line > .first > .first,
.container-4 .center-line > .third > .first {
  background-color: aquamarine;
  height: 150px;
  width: 150px;
}

.container-4 .center-line > .first > .second,
.container-4 .center-line > .third > .second {
  background-color: rgb(255, 127, 127);
  height: 150px;
  width: 150px;
}

.container-4 .center-line > .second {
  background-color: rgb(65, 73, 70);
  height: 300px;
  width: 300px;
}

/* PENKTAS KONTEINERIS */
/* -------------------------------------- */
.container-5,
.container-5 .center,
.container-5 .center .center-sq > .first,
.container-5 .center .center-sq > .second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-5 .child:nth-child(1),
.center .child:nth-child(1),
.center .child:nth-child(3),
.container-5 .child:nth-child(5) {
  width: 200px;
  height: 200px;
}

.center-sq > .first .child:nth-child(1),
.center-sq > .first .child:nth-child(2),
.center-sq > .second .child:nth-child(1),
.center-sq > .second .child:nth-child(2) {
  width: 100px;
  height: 100px;
}

.container-5 .child:nth-child(2),
.container-5 .child:nth-child(4) {
  width: 400px;
  height: 200px;
}

/* ŠEŠTAS KONTEINERIS */
/* -------------------------------------- */
.container-6,
.container-6 > .bottom > div > .row,
.container-6 > .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-6 > .bottom > .col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-6 > .child:nth-child(1) {
  width: 600px;
  height: 300px;
}

.bottom > div > .row > .child:nth-child(1),
.bottom > div > .row > .child:nth-child(2) {
  width: 100px;
  height: 150px;
}

.bottom > .col > .child:nth-child(2) {
  width: 200px;
  height: 150px;
}

.bottom > .child:nth-child(2),
.bottom > .child:nth-child(3) {
  width: 200px;
  height: 300px;
}

/* SEPTINTAS KONTEINERIS */
/* -------------------------------------- */
.container-7,
.container-7 > .first {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-7 > .first > .col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-7 > .first > .child:nth-child(1),
.container-7 > .first > .child:nth-child(2) {
  width: 450px;
  height: 300px;
}

.container-7 > .first > .col > .child:nth-child(1),
.container-7 > .first > .col > .child:nth-child(2) {
  width: 150px;
  height: 150px;
}

/* AŠTUNTAS KONTEINERIS */
/* -------------------------------------- */
.container-8 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-8 > .col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-8 .child:nth-child(1) {
  width: 600px;
  height: 300px;
}

.container-8 > .col > .child:nth-child(1),
.container-8 > .col > .child:nth-child(2) {
  width: 200px;
  height: 150px;
}

.container-8 > .child:nth-child(3) {
  width: 200px;
  height: 300px;
}

/* DEVINTAS KONTEINERIS */
/* -------------------------------------- */
.container-9 .first,
.container-9 .second,
.second .bottom-line div .container-9 .second .bottom-line .first {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-9,
.first .center,
.second .bottom-line,
.container-9 .second .first-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.first .child:nth-child(1) {
  width: 150px;
  height: 300px;
}

.first .center .child:nth-child(1),
.first .center .child:nth-child(2) {
  width: 75px;
  height: 100px;
}

.first .child:nth-child(3) {
  width: 150px;
  height: 200px;
}

.second .first-line .child:nth-child(1),
.second .first-line .child:nth-child(2),
.second .first-line .child:nth-child(3) {
  width: 150px;
  height: 100px;
}

.second .child:nth-child(2) {
  width: 450px;
  height: 300px;
}

.second .bottom-line .first .child:nth-child(1) {
  width: 300px;
  height: 200px;
}

.second .bottom-line div .child:nth-child(1),
.second .bottom-line div .child:nth-child(2) {
  height: 100px;
}

/* DEŠIMTAS KONTEINERIS */
/* -------------------------------------- */
.container-10,
.container-10 > .first,
.container-10 > .second {
  display: flex;
  flex-flow: row;
}

.container-10,
.container-10 > .first > .col,
.container-10 > .second > .col {
  display: flex;
  flex-flow: column;
}

.container-10 > .first > .child:nth-child(1),
.container-10 > .second > .child:nth-child(3) {
  width: 300px;
  height: 200px;
}
.container-10 > .first > .col > .child:nth-child(1),
.container-10 > .first > .col > .child:nth-child(2),
.container-10 > .second > .col > .child:nth-child(2),
.container-10 > .second > .col > .child:nth-child(1) {
  width: 100px;
  height: 100px;
}

.container-10 > .first > .child:nth-child(3),
.container-10 > .second > .child:nth-child(1) {
  width: 200px;
  height: 200px;
}

/* VIENUOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-11,
.container-11 .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-11 .child:nth-child(1) {
  width: 600px;
  height: 450px;
}

.container-11 > .bottom > .child:nth-child(1),
.container-11 > .bottom > .child:nth-child(2),
.container-11 > .bottom > .child:nth-child(3),
.container-11 > .bottom > .child:nth-child(4),
.container-11 > .bottom > .child:nth-child(5) {
  width: 120px;
  height: 150px;
}

/* DVYLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-12 {
  display: flex;
  flex-wrap: wrap;
}

.container-12 .child:nth-child(1),
.container-12 .child:nth-child(2),
.container-12 .child:nth-child(3),
.container-12 .child:nth-child(4),
.container-12 .child:nth-child(5) {
  width: 120px;
}

/* TRYLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-13 {
  display: flex;
  flex-wrap: wrap;
}

.container-13 .child:nth-child(1),
.container-13 .child:nth-child(2),
.container-13 .child:nth-child(3),
.container-13 .child:nth-child(4),
.container-13 .child:nth-child(5) {
  width: 600px;
  height: 120px;
}

/* KETURIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-14,
.container-14 .first .right div,
.container-14 .second div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-14,
.first,
.second,
.container-14 .first .left div,
.container-14 .first .right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.first .left div .child:nth-child(1),
.first .left div .child:nth-child(2),
.first .right div .child:nth-child(1),
.first .right div .child:nth-child(2),
.first .right div .child:nth-child(3),
.second div .child:nth-child(1),
.second div .child:nth-child(2),
.second div .child:nth-child(3) {
  width: 150px;
  height: 100px;
}

.first .left .child:nth-child(2) {
  width: 300px;
  height: 200px;
}

.first .right .child:nth-child(1),
.second .child:nth-child(1) {
  width: 150px;
  height: 300px;
}

.second .child:nth-child(3) {
  width: 300px;
  height: 300px;
}

.first .right div .child:nth-child(1),
.first .right div .child:nth-child(2),
.first .right div .child:nth-child(3) 

/* PENKIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-15 .first,
.container-15 .second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-15 > .first > .child:nth-child(1),
.container-15 > .first > .child:nth-child(2),
.container-15 > .first > .child:nth-child(3) {
  width: 200px;
  height: 150px;
}

.container-15 > .second > .child:nth-child(1),
.container-15 > .second > .child:nth-child(2),
.container-15 > .second > .child:nth-child(3),
.container-15 > .second > .child:nth-child(4) {
  width: 150px;
  height: 150px;
}

/* ŠEŠIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-16 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-16 .col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-16 .child:nth-child(1),
.container-16 .child:nth-child(2) {
  width: 600px;
  height: 200px;
}

.container-16 .child:nth-child(3),
.container-16 .child:nth-child(5) {
  width: 150px;
  height: 200px;
}

.container-16 > .col > .child:nth-child(1),
.container-16 > .col > .child:nth-child(2) {
  width: 150px;
  height: 100px;
}

/* SEPTYNIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-17 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-17 .row,
.container-17 .two-sq {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.container-17 .child:nth-child(1) {
  width: 300px;
  height: 600px;
}

.container-17 > .row > .child:nth-child(1) {
  width: 300px;
  height: 150px;
}

.container-17 > .two-sq > .child:nth-child(1),
.container-17 > .two-sq > .child:nth-child(2) {
  width: 150px;
  height: 150px;
}

/* AŠTUONIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-18 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-18 .child:nth-child(1),
.container-18 .child:nth-child(2),
.container-18 .child:nth-child(3),
.container-18 .child:nth-child(6),
.container-18 .child:nth-child(7),
.container-18 .child:nth-child(8) {
  width: 200px;
  height: 200px;
}

.container-18 .child:nth-child(4),
.container-18 .child:nth-child(5) {
  width: 200px;
  height: 300px;
}

/* DEVYNIOLIKTAS KONTEINERIS */
/* -------------------------------------- */
.container-19,
.container-19 .right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-19,
.left .left-bottom .second,
.container-19 .right .center .top,
.container-19 .right .center .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}
#box {
  width: 100px;
  height: 100px;
}

.left .child:nth-child(1) {
  width: 400px;
  height: 400px;
}

.left .left-bottom .first .child:nth-child(1),
.right .child:nth-child(1),
.right .child:nth-child(3) {
  width: 200px;
  height: 200px;
}

/* .container-19 .first .child:nth-child(1),
.container-19 .first .child:nth-child(2), */
.right .center .top .child:nth-child(1),
.right .center .top .child:nth-child(2),
.right .center .bottom .child:nth-child(1),
.right .center .bottom .child:nth-child(2) {
  width: 100px;
  height: 100px;
}

/* DVIDEŠIMTAS KONTEINERIS */
/* -------------------------------------- */
.container-20 {
  display: flex;
  flex-wrap: wrap;
}

.container-20 .child:nth-child(1),
.container-20 .child:nth-child(2),
.container-20 .child:nth-child(3),
.container-20 .child:nth-child(4),
.container-20 .child:nth-child(5),
.container-20 .child:nth-child(6),
.container-20 .child:nth-child(7),
.container-20 .child:nth-child(8),
.container-20 .child:nth-child(9),
.container-20 .child:nth-child(10),
.container-20 .child:nth-child(11),
.container-20 .child:nth-child(12) {
  width: 150px;
  height: 200px;
}
