.grow {
  align-items: center;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 10px 15px 40px;
}

.grow .left-side {
  width: 50%;
}

.grow .right-side {
  width: 40%;
}

.sections-title {
  font-size: 30px;
  font-family: var(--main-text-family);
}

.sections-paragraph {
  font-family: var(--second-text-family);
  margin-top: 10px;
  font-size: 18px;
}
