@import "./variables.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--main-text-color);
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  border: none;
}
