/* font-family: 'Mina', sans-serif;
font-family: 'Ramabhadra', sans-serif; */
body {
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
}

.main-title {
  font-family: "Mina", sans-serif;
  font-size: 40px;
  margin: 0;
}

.main-programs-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.filter-button-container {
  padding: 20px;
  align-items: center;
  position: sticky;
  top: 10px;
  z-index: 1;
}
.filter-button {
  width: 100%;
  border: 1px solid #1200ff;
  padding: 12px 50px;
  border-radius: 25px;
  background-color: #1200ff;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.banner-wrapper {
  width: 100%;
  background-image: url(./img/codeacemy-banner.png);
  background-size: contain;
  background-position: right 25% bottom 45%;
  background-repeat: no-repeat;
  margin-top: 20px;
  top: 10px;
  position: relative;
  background-color: #fff;
  padding: 80px 0;
}

.banner-wrapper a {
  text-decoration: none;
}
.first-text {
  font-family: "Mina", sans-serif;
  font-size: 14px;
  margin-left: 50px;
  color: #ff00e9;
  font-weight: 700;
  position: absolute;
  top: 10px;
}
.secondary-text {
  color: black;
}

/* .button-large .first-img {
  width: 98%;
}

.button-large .secondary-img {
  right: 17px;
  position: absolute;
  top: 23px;
  right: 50px;
} */

.button-large .secondary-img {
  position: absolute;
  top: 20px;
  right: 59px;
}
.programs-filter-wrapper {
  width: 35%;
}

.section-title {
  font-size: 16px;
  font-family: "Mina", sans-serif;
}

.programs-filter-wrapper .card-content {
  padding: 30px;
  background-color: #fff;
  position: sticky;
  top: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input label,
.secondary-title {
  font-size: 12px;
  font-family: "Ramabhadra", sans-serif;
  margin-bottom: 2px;
}

.input select {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
}

.check-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.check label {
  font-family: "Mina", sans-serif;
  font-size: 12px;
}

.reset-button {
  width: 100%;
  border: 1px solid #1200ff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #fff;
  color: blue;
  font-size: 12px;
}

.main-content a {
  text-decoration: none;
}

.all-programs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.program-card {
  background-color: #fff;
  width: calc(50% - 20px);
  position: relative;
}

.label {
  background-color: #ff00e9;
  color: #fff;
  font-family: "Mina", sans-serif;
  font-size: 8px;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: -15px;
}

.program-card .image-wrapper img {
  width: 97px;
  height: 97px;
  object-fit: cover;
  object-position: center;
}

.program-title {
  font-family: "Mina", sans-serif;
  line-height: 30px;
  color: black;
  font-size: 24px;
}

.program-description {
  color: black;
  font-family: "Mina", sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.program-card .card-content {
  padding: 30px;
  background-color: #fff;
}

.rotating-link {
  width: 50px;
  border-radius: 50%;
  background-color: #1200ff;
  padding: 50px;
  -webkit-animation: rotating-link 5s normal linear infinite;
  animation: rotating-link 5s normal linear infinite;
}

.rotating-link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: top;
}

/* .circle {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #1200ff;
  border-radius: 50%;
}

.circle-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
} */

/* MEDIA */

@media (max-width: 918px) {
  .container {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .programs-filter-wrapper {
    display: none;
  }
  .banner-wrapper {
    background-size: 60%;
  }
  .banner-wrapper .button-large .first-text {
    display: flex;
    flex-direction: column;
  }
}
.program-card {
  width: 100%;
}

@media (min-width: 919px) {
  .container {
    width: calc(100% - 40px);
    padding: 20px;
  }
  .programs-filter-wrapper {
    display: flex;
  }
  .filter-button {
    display: none;
  }
  .button-large .secondary-img {
    top: 55px;
  }
  .first-text {
    font-size: 30px;
  }
}
